
.introduction{
    margin-top: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}
.socials{
    margin-top: 10px;
}
.first-page{
    height: 100vh;
  }
.other-page{
    display: grid;
    place-items: center;
  }
  .about-me{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services{
    margin-top: 20px;
  }
  .service-cards{
    display: flex;
    justify-content: space-evenly;
  }
  .contact{
    display: flex;
    align-items: center;
    justify-content: center;
  }